<div class="header">
  <%#= image_tag "https://images.unsplash.com/photo-1596146828740-8a0117f437e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" %>
</div>

<div class="container index">
  <ul class="menu">
    <li> <%= link_to "NEW LIST", new_list_path, class: "link-menu" %> </li>
    <li> <%= link_to "ALL MOVIES", root_path, class: "link-menu" %> </li>
    <li> <%= link_to "MY FRIENDS", root_path, class: "link-menu" %> </li>
  </ul>
  <div class="lists">
    <h1>My Lists</h1>
    <div class="lists-card">
      <% @lists.each do |list| %>
        <% if list.cover.attached? %>
          <div class="card-odd" style="background-image:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.48)),url('<%= cl_image_path list.cover.key, crop: :fill, height: 180, width: 140 %>')">
            <%= link_to list_path(list), class: "link" do %>
              <%= list.name %>
              <%= link_to "+",  root_path, class: "delete" %>

              <!-- <a class="delete" href="/">+</a> -->
            <% end %>
          </div>
        <% else %>
          <div class="card-odd" style="background-image:linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.48)),url(<%= randomized_background_image %>)">
            <%= link_to list_path(list), class: "link" do %>
              <%= list.name %>
              <%= link_to "+", list_path(list), method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  class: "delete"%>
              <!-- <a class="delete" href="/">+</a> -->
            <% end %>
          </div>
        <% end %>
        <br>
      <% end %>

    </div>
  </div>
</div>
